@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

.menu-item {
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
}


header, footer{
  background-color: #f4f4f4;
}
.main{
  min-height: 95vh;
} 

.icon-color{
  color:  #8ec24a;;
}

.about{
  position: relative;
}
.centered{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #8ec24a;
}
