@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

.menu-item {
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
}
//--bs-navbar-brand-margin-end:45rem;
//--bs-navbar-nav-link-padding-x:1.25rem;