@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
body {
  font-family: 'Open Sans', sans-serif !important;
}

.menu-item{
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
}